.item-cards {
  max-width: 1280px;
  padding: 34px 0;
  display: grid;
  grid-template-columns: repeat(4, 328px);
  gap: 20px 20px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.item-card {
  max-width: 328px;
  margin: 0;
  position: relative;
  justify-items: center;
}
.item-card__image {
  width: 328px;
  height: 328px;
  border-radius: 19px;
  cursor: pointer;
}

.item-card__header-container {
  position: absolute;
  top: 15px;
  left: 125px;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.item-card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  width: 53px;
  height: 24px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #00000099;
  text-align: center;
}

.item-card__love-button {
  margin: 2px 0 0 10px;
  background-image: url("../assets/like1.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 23px;
  height: 20px;
  opacity: 40%;
  padding: 0;
}

.item-card__love-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.item-card__love-button_activated {
  background-color: transparent;
  opacity: 100%;
  background-image: url("../assets/like2.svg");
}

.item-card__love-button_activated:hover {
  background-image: url("../assets/like2.svg");
  opacity: 50%;
}
