.react-switch {
  margin: 0 0 25px 0;
}
.react-switch__checkbox_F {
  position: relative;
  top: 0px;
  left: 7px;
  color: #ffffff;
}
.react-switch__checkbox_C {
  position: relative;
  top: 0px;
  left: -7px;
  color: #7e7e7e;
}
.react-switch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background: #ffffff;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  border: 2px solid #7e7e7e;
}

.react-switch__label .react-switch__button {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
  border-radius: 45px;
  transition: 0.2s;
  background: #000000;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch__label:hover {
  border: 2px solid #000000;
}

.react-switch__label:hover .react-switch__button {
  left: 0.2px;
}

.react-switch__checkbox:checked + .react-switch__label .react-switch__button {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.react-switch__checkbox:checked
  + .react-switch__label
  .react-switch__checkbox_C {
  color: #ffffff;
}
.react-switch__checkbox:checked
  + .react-switch__label
  .react-switch__checkbox_F {
  color: #7e7e7e;
}

.react-switch__label:active .react-switch__button {
  width: 40px;
}
